{% extends "blog/base.html" %}
{% block content %}
    <section class="position-relative py-4 py-xl-5">
        <div class="container" id="login-container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Please login</h2>
                    <p class="w-lg-50">Must be supersuser, please check with the site admin</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5" id="login-form">
                        <div class="card-body d-flex flex-column align-items-center">
                            {% if form.errors %}<p>Your username or password didn't match! Please try again</p>{% endif %}
                            <form class="text-center" action="{% url "login" %}" method='post'>
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input class="btn btn-primary d-block w-100"
                                       type="submit"
                                       value="Login"
                                       id="login-button">
                                <input type="hidden" name="next" value={{ next }}>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
