<!DOCTYPE html>
{% load static %}
<html data-bs-theme="light" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta meta
              name="viewport"
              content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="This is a literary blog">
        <meta name="keywords" content="blog, literary">
        <title>Base</title>
        <link rel="stylesheet" href="{% static "assets/css/my_styles.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/Almendra%20SC.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/Navbar-Centered-Links-icons.css" %}">
    </head>
    <body>
        <div class="container" id="nav_container">
            <nav class="navbar navbar-expand-xl bg-body py-3" id="my_nav">
                <a class="navbar-brand d-flex align-items-center"
                   href="{% url "post_list" %}">
                    <img src="{% static "assets/images/old_pen.png" %}" alt="" id="brand-mine">
                    <span>My Literary Blog</span></a>
                <button data-bs-toggle="collapse"
                        class="navbar-toggler"
                        data-bs-target="#navcol-3">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-3">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url "about" %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="https://www.github.com">GitHub</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="https://www.linkedin.com">Linkedin</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url "post_new" %}">New Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url "post_draft_list" %}">Post Draft List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url "logout" %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url "login" %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}<p class="navbar-text">Welcome: {{ user.username }}</p>{% endif %}
                </div>
            </nav>
        </div>
        <div class="container" id="block">
            {% block content %}
            {% endblock content %}
        </div>
        <script src={% static "assets/js/bootstrap.min.js" %}></script>
    </body>
</html>
