<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is a literary blog">
        <meta name="keywords" content="blog, literary">
        <title>Base</title>
    </head>
    <body>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="{% url "post_list" %}">My Literary Blog</a>
                    </li>
                    <li>
                        <a href="{% url "about" %}">About</a>
                    </li>
                    <li>
                        <a href="https://www.github.com">GitHub</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com">Linkedin</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "post_new" %}">New Post</a>
                        </li>
                        <li>
                            <a href="{% url "post_draft_list" %}">Post Draft List</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                        <li>
                            <p>Welcome: {{ user.username }}</p>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
