{% extends "blog/base.html" %}
{% block content %}
    <div class="container" id="post-back">
        <div class="card">
            <div class="container" id="title-pres">
                <h1 class="card-title">{{ post.title }}</h1>
                {% if post.published_date %}
                    <p class="publish">Published date: {{ post.published_date }}</p>
                {% else %}
                    <a type="button"
                       class="btn btn-primary"
                       id="publish-button"
                       href="{% url "post_publish" pk=post.pk %}">Publish</a>
                {% endif %}
            </div>
            <p id="text-all">{{ post.text|safe|linebreaksbr }}</p>
            <div class="btn-group" role="group">
                {% if user.is_authenticated %}
                    <a type="button"
                       class="btn btn-primary"
                       id="edit-button"
                       href="{% url "post_edit" pk=post.pk %}">Edit</a>
                    <a type="button"
                       class="btn btn-primary"
                       id="remove-button"
                       href="{% url "post_remove" pk=post.pk %}">Remove</a>
                {% endif %}
                <a type="button"
                   class="btn btn-primary"
                   id="add-comment-button"
                   href="{% url "add_comment_to_post" pk=post.pk %}">Add Comment</a>
            </div>
        </div>
        <div class="card" id="comments">
            <h4 class="card-title">Comments</h4>
            {% for comment in post.comments.all %}
                {% if user.is_authenticated or comment.approved_comment %}
                    <div class="card">
                        <p class="publish">{{ comment.create_date }}</p>
                        <p>{{ comment.text|safe|linebreaks }}</p>
                        <p>Posted by: {{ comment.author }}</p>
                        {% if not comment.approved_comment %}
                            <div class="btn-group" role="group">
                                <a type="button"
                                   class="btn btn-primary"
                                   id="approve-button"
                                   href="{% url "comment_approve" pk=comment.pk %}">Approve</a>
                                <a type="button"
                                   class="btn btn-primary"
                                   id="remove-button"
                                   href="{% url "comment_remove" pk=comment.pk %}">Remove</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% empty %}
                <p>No comments yet</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
