{% extends "blog/base.html" %}
{% block content %}
    <div class="container">
        <h1 class="title-first">My Post List</h1>
    </div>
    <div class="card-group">
        {% for post in post_list %}
            <div class="card">
                <h4>
                    <a id="card-title" href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a>
                </h4>
                <p class="publish">Published on: {{ post.published_date|date:"D M Y" }}</p>
                <p>
                    <a id="card-text" href="{% url "post_detail" pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
